* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #FFFFFF;
}

#wrapper {
    position: fixed;
    top: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #464646;
    overflow: hidden;
}

#toppmeny {
    width: 1195px;
    float: left;
}

    #toppmeny a.active {
        background-color: #242424;
        color: white;
    }

    #toppmeny ul {
        text-align: left;
        list-style-type: none;

    }

        #toppmeny ul li {
            float: left;
        }

    #toppmeny a {
        display: block;
        font-size: 16px;
        padding: 14px 16px;
        text-decoration: none;
        color: white;
        border-right: 1px solid black;
    }

        #toppmeny a:link {
            color: #FFFFFF;
        }

    #toppmeny ul li:hover {
        text-decoration: underline;
    }
 