<html>

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    {% block scripts %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css" />
    <script src="{% static 'base.js' %}"></script>
    {% endblock %}

    

    {% block head %}
    <title id="tittel">Standard side</title>
    {% endblock %}


</head>

<body>
    <div id="header">
        <div id="wrapper">
            <div class="meny" id="toppmeny">
                <ul>
                    <li><a id="Hjem" href="/">Hjem</a></li>
                    <li><a id="Lanser" href="lanser">Lanser</a></li>
                    <li><a id="Info lanse 1" href="info">Info lanse 1</a></li>
                    <li><a id="Test" href="test">Test</a></li>
                </ul>
            </div>
        </div>
        <div id="contentwrapper">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>

</html>