<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Grunnlag bachelor</title>
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/css">

</head>
<body class="body" style="background-color:#808080">
    <div id="container">
        <a href="http://127.0.0.1:8000/Lanse1/test1">
            <figure>
                <img src='http://127.0.0.1:8000/Lanse1' width="50%" height="50%" />
                <!--figcaption>Test av hyperlink</figcaption-->
            </figure>
        </a>
    </div>
    <div id="container2">
        <div id="content">
            <h1>Hmm jaaa funfunfun</h1>
        </div>
    </div>

</body>
</html>

