{% load static %}
<link rel="stylesheet" href="{% static 'lansestyring/lansestyring.css' %}" type="text/css" />
<script src="{% static 'lansestyring/lansestyring.js' %}"></script>


<!--{% block body %}-->
<div id="infoomlanse">
    <ul>
        <li>
            Lanse ID:
            <input name="lansenummer" type="text" id="lansenummer" value="{{data}}" readonly>
        </li>
        <li>
            Antall steg:
            <input name="ant_steg" type="number" id="ant_steg" value="{{ant_steg}}" readonly />
        </li>
        <li>
            Trykk:
            <input name="trykk" type="text" id="trykk" readonly />
        </li>
    </ul>
    <label class="switch">
        <input type="checkbox" checked="0" id="checkboy">
        <span class="slider round"></span>
    </label>
</div>

<div style="width: 100%; overflow: hidden;">
    <div style="width: 20%; float: left;"> Left </div>
    <div style="margin-left: 20%"> Right </div>
    <div style="margin-left: 30%"> Right </div>
    <div style="margin-left: 20%"> Right </div>
</div>

<div id="pershit">
    <form onchange="oppdatervalgtsteg()">
        <ul id="tekstfelt"></ul>
    </form>

    <p id="demo">

    </p>
</div>

<!--{% endblock %}-->