{% extends "base.html" %}

{% block head %}
<title> Styreside for lanse </title>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'lansestyring/lansestyring.css' %}" type="text/css" />
<script src="{% static 'lansestyring/lansestyring.js' %}"></script>
{% endblock %}

{% block body %}
<div id="infoomlanse">
    <ul>
        <li>
            Lanse ID: {{data}}
            <input name="lansenummer" type="text" id="lansenummer" readonly>
        </li>
        <li>
            Flow:
            <input name="flow" type="text" id="flow" readonly />
        </li>
        <li>
            Trykk:
            <input name="trykk" type="text" id="trykk" readonly />
        </li>
    </ul>
</div>
{% endblock %}