{% extends "base.html" %}


{% block head %}

<title> Lanseside </title>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'startside/lanser.css' %}" type="text/css" />
    <script src="{% static 'startside/lanser.js' %}"></script>
{% endblock %}

{% block body %}

    <p>
        <img src={% static "startside/granaasen.PNG" %} width="312" height="872" usemap="#Map" />
        <map name="Map">

            <area shape="circle" coords="200,70,19" id="lanse1" onclick="faadata(id)">
            <area shape="circle" coords="194,107,19" href="valgtlanse" id="lanse2">
            <area shape="circle" coords="180,166,19" href="valgtlanse" id="lanse3">
            <area shape="circle" coords="164,225,19" href="valgtlanse" id="lanse4">
            <area shape="circle" coords="175,374,19" href="valgtlanse" id="lanse5">
            <area shape="circle" coords="195,420,19" href="valgtlanse" id="lanse6">
            <area shape="circle" coords="187,492,19" href="valgtlanse" id="lanse7">
            <area shape="circle" coords="177,567,19" href="valgtlanse" id="lanse8">
            <area shape="circle" coords="138,125,19" href="valgtlanse" id="lanse9">
            <area shape="circle" coords="143,183,19" href="valgtlanse" id="lanse10">
            <area shape="circle" coords="123,253,19" href="valgtlanse" id="lanse11">
            <area shape="circle" coords="111,328,19" href="valgtlanse" id="lanse12">
            <area shape="circle" coords="110,385,19" href="valgtlanse" id="lanse13">
            <area shape="circle" coords="121,425,19" href="valgtlanse" id="lanse14">
            <area shape="circle" coords="114,527,19" href="valgtlanse" id="lanse15">
            <area shape="circle" coords="127,627,19" href="valgtlanse" id="lanse16">
            <area shape="circle" coords="124,691,19" href="valgtlanse" id="lanse17">
            <area shape="circle" coords="102,760,19" href="valgtlanse" id="lanse18">
            <area shape="circle" coords="87,806,19" href="valgtlanse" id="lanse19">
            <area shape="circle" coords="104,554,19" href="valgtlanse" id="lanse20">
            <area shape="circle" coords="95,478,19" href="valgtlanse" id="lanse21">
            <area shape="circle" coords="79,409,19" href="valgtlanse" id="lanse22">
            <area shape="circle" coords="22,380,19" href="valgtlanse" id="lanse23">
            <area shape="circle" coords="32,341,19" href="valgtlanse" id="lanse24">
            <area shape="circle" coords="37,286,19" href="valgtlanse" id="lanse25">
            <area shape="circle" coords="61,219,19" href="valgtlanse" id="lanse26">
            <area shape="circle" coords="73,153,19" href="valgtlanse" id="lanse27">

        </map>
    </p>

{% endblock %}